<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    
    @using Agathas.Storefront.Controllers.ViewModels.ProductCatalog
@using Agathas.Storefront.UI.Web.MVC5.Helpers
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div id="main">
        <div id="header">
            <span>
                <a href='@Html.Resolve(" ")'>
                    <img alt="Agatha's Clothing Store" src='@Html.Resolve(" />Content/Images/Structure/lg_logo.png")' border="0" />
                </a>
            </span>
        </div>

        <div id="headerSummary">
            <span class="basket-details">
                @RenderPage("~/Views/Shared/_PartialHeader.cshtml");

                @Html.Partial("_LoginPartial")

                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Your Account", "Detail", "Customer")
                    @Html.ActionLink("Log Off", "SignOut", "AccountLogOn")
                }
                else
                {
                    @Html.ActionLink("Create Account", "Register", "AccountRegister")
                    @Html.ActionLink("Log On", "LogOn", "AccountLogOn")<br />
                }
            </span>
        </div>

        <div class="topBarContainer">
            <div id="background">
                <div id="navigation">
                    <asp:ContentPlaceHolder ID="MenuContent" runat="server">


                    </asp:ContentPlaceHolder>
                </div>
                <div id="content">
                    @RenderBody()
                </div>
                <div style="clear: both;" />
            </div>
        </div>
        @RenderPage("~/Views/Shared/_PartialFooter.cshtml");
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>